version: '3'
services:
  db:
    image: postgres:latest
    restart: always
    tty: true
    volumes:
      - .data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=product-management-system
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  
  db-test:
    image: postgres:latest
    restart: always
    tty: true
    volumes:
      - .data-test:/var/lib/postgresql/data-test
    environment:
      - POSTGRES_DB=product-management-system-test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5433:5432"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  pgadmin:
    image: dpage/pgadmin4:latest
    tty: true
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@user.com
      - PGADMIN_DEFAULT_PASSWORD=123456
    ports:
      - "9000:80"
    depends_on:
      - db

  api:
    container_name: api-container
    image: node:20
    working_dir: /usr/src/product-system-management-backend/
    restart: always
    command: bash -c "npm install -g @nestjs/cli@10.0.0 && npm install -g pnpm && pnpm install && pnpm build && pnpm start:prod"
    volumes:
      - ./:/usr/src/product-system-management-backend/
    ports:
      - "3000:3000"
    links:
      - db